
.scrollingContainerM3{
  width: 100%;
  /* height: 100%; */
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.vidDiv{
  width: 55%;
  /* height: 100%; */
  background-color: rgb(255, 255, 255);
  /* overflow: visible */
  display: flex;
  justify-self: center;
  align-self: flex-start;
  padding: 0;
}
  
#video{
  /* padding: 15px; */
  height: 80vh;
  width: 100%;

  /* position: sticky;
  top: 10; */
  /* position: -webkit-sticky;  */
  /* position: sticky; */
  /* top: 10vh; */
}

#module3markers{
  /* width: 5vw !important; */
  /* background-color: grey; */
  /* position: fixed !important; */
  /* top:70px !important; */
}
