.mainContainer{
    padding: 0px 15px 0px 15px
}

.scrollingContainer {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 40px 40px;
    display: flex;
}

.textContainer > p{
    font-size: 18px;
}

#module1-1{
    background-color: black;
}

.scrollTextContainer{
    max-width: 45%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    overflow: "visible";
    height: 200px;
    align-self: flex-start;
}

.markers{
    display: block;
    width:1vh;
}
.marker{
    width: 100%;
    color: #00e5ff;
    height: 100%;

}

#step_s{
    background-color: blue;
}
#step_i{
    background-color: greenyellow;
}
#step_r{
    background-color: green;
}
.st0{fill:none;stroke:#C49A6C;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
.st1{fill:#231F20;stroke:#231F20;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
.st2{fill:none;stroke:#C49A6C;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
.st3{fill:#985DA6;}
.st4{fill:#C49A6C;}
.st5{fill:#3C2415;}