.mainContainer{
    padding: 0px 15px 0px 15px
}

.scrollingContainer {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 40px 40px;
    display: flex;
}

.textContainer > p{
    font-size: 18px;
}

#module1-1{
    background-color: black;
}

.scrollTextContainer{
    max-width: 45%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    overflow: "visible";
    height: 200px;
    align-self: flex-start;
    padding: 15px;
}

#scrollText{
    font-size: 18px;
}
#scrollHeader{
    font-weight: bold;
}

.markers{
    display: block;
    width:1vh;
}
.marker{
    width: 100%;
    color: #00e5ff;
    height: 100%;
}

#step_s{
    background-color: blue;
}
#step_i{
    background-color: greenyellow;
}
#step_r{
    background-color: green;
}
.st0{fill:none;stroke:#C49A6C;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
.st1{fill:none;stroke:#C49A6C;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
.st2{fill:#231F20;stroke:#231F20;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
.st3{fill:#985DA6;}
.st4{fill:#C49A6C;}
.st5{fill:#7F2933;}
.st6{fill:#3C2415;}
.st7{display:none;}
.st8{display:inline;fill:none;stroke:#C49A6C;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
.st9{display:inline;}
.st10{display:inline;fill:#3C2415;}
.st11{display:inline;fill:none;stroke:#C3996C;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
.st12{fill:none;stroke:#C3996C;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
.st13{fill:#985EA6;}
.st14{display:inline;fill:#C3996C;}
.st15{display:inline;fill:#802A34;}
.st16{display:inline;opacity:0.3;}
.st17{fill:#D7DF28;}
.st18{display:inline;fill:#3C2517;}
.st19{display:inline;fill:#F4CB45;}